<div class="details-div">
  <a id="<%= @product.id %>">hide details</a>
  <p><%= @product.description %></p>
  <img src="<%= @product.image %>">
  <p><%= number_to_currency @product.price %></p>
</div>
